/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
}

/* Headings */
h1,
h2, h3
 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}



/* Header */
header {
  display: flex;
  justify-content: center;
}


/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

.container {
  padding-left: 50px;
  margin-left: 50px;
  white-space: pre-line;
}
.my-list {
  padding-left: 300px;
  margin-left: 50px;
  font-size: 14px;

}
.image-container {
  float: left;
  margin-bottom: 80px;
  margin-right: 50px;
}
 .about-header{
  padding-right: 75px;
  text-align: right;
}

.portfolio-container {

  display: flex;
}

.project {
  margin: 10px;
  flex: 1;
  text-align: center;
}


article {
  padding: 40px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
  font: 14px;

}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}
nav {
  padding-left: 10px;
  padding-top: 30px;
}
nav a {
  display: inline;
  padding-left: 20px;
  padding-top: 35px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  max-width: 25%;
  max-height:35%;
  margin-left: 90px;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}